* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     transition: all 0.8s ease-out;}
     @keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }}



body {
    font-family: Arial;
    background: linear-gradient(135deg, #000814, #001d3d);
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
     transition: all 0.8s ease-out;
    }
     @keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }}



header {
    background: rgba(255, 255, 255, 0.1);
    padding: 12px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

header h2 {
    font-size: 22px;
}

#themeToggle {
    padding: 6px 15px;
    background: white;
    color: #002244;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.editor-container {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    padding: 12px;
}

.editor-panel, .output-panel {
    background: rgba(255, 255, 255, 0.08);
    padding: 12px;
    border-radius: 10px;
    backdrop-filter: blur(8px);
    height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
}

h3 {
    margin-bottom: 8px;
}

textarea {
    flex: 1;
    width: 100%;
    background: #001e3c;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 8px;
    color: white;
    font-size: 15px;
    resize: none;
}

iframe {
    flex: 1;
    width: 100%;
    background: white;
    border-radius: 8px;
    border: none;
}

/* Light Theme */

body.light-theme {
    background: #e6e6e6;
    color: black;
}

body.light-theme textarea {
    background: #ffffff;
    color: black;
}

body.light-theme .editor-panel,
body.light-theme .output-panel,
body.light-theme header {
    background: rgba(0, 0, 0, 0.05);
}

body.light-theme #themeToggle {
    background: #002244;
    color: white;
}

/* Responsive */

@media (max-width: 900px) {
    .editor-container {
        grid-template-columns: 1fr;
    }

    .editor-panel,
    .output-panel {
        height: 300px;
    }
}
